{% extends 'base.html' %}
{% load staticfiles %}



{% block body %}
    <div class="layui-body">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>审核列表</legend>
        </fieldset>
        <table class="layui-hide" id="check" lay-filter="check"></table>


    </div>
{% endblock %}


{% block script %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'layui/layui.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/layer.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/echarts.min.js' %}" charset="utf-8"></script>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs layui-btn-primary" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-xs" lay-event="pass">审核通过</a>
    </script>
    <script type="text/html" id="sexTpl">
        {% verbatim %}

        {{#  if(d.status === '待审核'){ }}
        <span style="color: #f5511c;">{{ d.status }}</span>
        {{# } else if(d.status === '审核通过'){ }}
        <span style="color: #1c94ef;">{{ d.status }}</span>
        {{#  } else { }}
        <span style="color: #45f51c;">{{ d.status }}</span>
        {{#  } }}

        {% endverbatim %}
    </script>
        <script type="text/html" id="message">
        {% verbatim %}
        {{#  if(d.message_type === '文字'){ }}
        <span>{{ d.message }}</span>
        {{#  } else { }}
        <span>{{ d.message }}<a style="color: #145fe7;" href="/static/media/{{  d.fie_yuanben  }}">(点击查看)</a></span>
        {{#  } }}

        {% endverbatim %}
    </script>
    <script>
        layui.use('element', function () {
            var element = layui.element;
        });
        layui.use('table', function () {
            var table = layui.table;

            table.render({
                elem: '#check',
                method: 'post',
                url: '{% url 'check_list' %}',
                where:{
                    check:'check'
                },
                cols: [[
                    {field: 'id', width: 50, title: 'ID'},
                    {field: 'message', minWidth: 80, title: '信息',templet: '#message'},
                    {field: 'message_type', width: 80, title: '信息类型'},
                    {field: 'group', minWidth: 80, title: '群组'},
                    {field: 'typ', width: 80, title: '类型'},
                    {field: 'status', width: 100, title: '状态', templet: '#sexTpl'},
                    {field: 'date', title: '添加时间', minWidth: 80, sort: true},
                    {field: 'send_user', title: '申请人', minWidth: 80},
                    {title: '操作', toolbar: '#barDemo', minWidth: 150}
                ]]
            });

            table.on('tool(check)', function (obj) {
                var data = obj.data;
                sta = data.status;
                if (obj.event === 'edit') {
                    if (sta === '待审核') {
                        // 编辑 只能编辑信息
                        layer.prompt({
                            formType: 2,
                            value: data.message
                        }, function (value, index) {
                            obj.update({
                                message: value
                            });
                            layer.close(index);
                        });
                    } else {
                        layer.open({
                            title: '提示'
                            , content: '该条信息已审核通过或发送成功，不能修改！'
                        });
                    }

                } else if (obj.event === 'pass') {

                    if (sta === '待审核') {
                        layer.open({
                            title: '提示'
                            , content: '确认审核通过？',
                            yes: function () {
                                // 发送审核
                                $.ajax({
                                    url: '{% url 'check' %}',
                                    method: 'post',
                                    data: {
                                        message: data.message,
                                        id: data.id,
                                        group_name: data.group
                                    },
                                    success: function (res) {
                                        layer.closeAll();
                                        window.location.reload();
                                    }
                                });
                            }
                        });

                    } else {
                        layer.open({
                            title: '提示'
                            , content: '该条信息已审核通过或发送成功，请勿重复提交审核！'
                        });
                    }

                }
            });
        });
    </script>
{% endblock %}