.layui-card-header {
    position: relative
}

.layui-card-header .layui-icon {
    line-height: initial;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -7px
}
.layui-card-header .layui-a-tips {
    position: absolute;
    right: 15px;
    color: #01AAED
}
.layuiAdmin-msg-detail .layui-card-header {
    height: auto;
    line-height: 30px;
    padding: 15px
}

.layuiAdmin-msg-detail .layui-card-header span {
    padding: 0 5px;
    color: #999
}

.layuiAdmin-msg-detail .layui-card-header span:first-child {
    padding-left: 0
}
.layui-card-header.layuiadmin-card-header-auto {
    padding-top: 15px;
    padding-bottom: 15px;
    height: auto
}
.layadmin-menu-list .layui-card-header {
    height: 50px;
    line-height: 50px;
    font-size: 16px
}

.layadmin-menu-list .layui-card-header:active {
    background-color: #f2f2f2
}

.layadmin-menu-list .layui-card-header .layui-icon {
    position: relative;
    top: 1px;
    left: 0;
    display: inline-block;
    margin: 0 10px;
    font-size: 18px
}

.layuiAdmin-msg-detail .layui-card-body {
    padding: 15px
}

.layuiadmin-card-list {
    padding: 15px
}

.layuiadmin-card-list p.layuiadmin-big-font {
    font-size: 36px;
    color: #666;
    line-height: 36px;
    padding: 5px 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap
}

.layuiadmin-card-list p.layuiadmin-normal-font {
    padding-bottom: 10px;
    font-size: 20px;
    color: #666;
    line-height: 24px
}

.layuiadmin-badge, .layuiadmin-btn-group, .layuiadmin-span-color {
    position: absolute;
    right: 15px
}
.layuiadmin-span-color {
    font-size: 14px
}

.layuiadmin-span-color i {
    padding-left: 5px
}
.layui-fluid {
    padding: 15px
}
.layui-layout-admin .layui-body .layadmin-tabsbody-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    overflow-y: auto
}
@media screen and (max-width: 768px) {
    .layadmin-panel-selection {
        margin: 0;
        width: auto
    }

    .layui-body .layui-nav .layui-nav-item {
        display: block
    }

    .layui-layout-admin .layui-body .layadmin-tabsbody-item {
        -webkit-overflow-scrolling: touch;
        overflow: auto
    }
}